









.banner-container{
    height: 100vh;
    background-image: url(./digital-agency-main/asset/image/background.jpg),linear-gradient(#2b2828 rgb(107, 107, 139));
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover ;
    
}